/* LATO & DANCING SCRIPT FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --body-bg: #020b18;
    --header-bg: rgb(255 255 255 / 0.04);
    --nav-border-bg: linear-gradient(90deg,
            rgb(0, 183, 255),
            rgb(10, 41, 136),
            rgb(0, 183, 255));
    --primary-color: white;
    --secondary-color: #9eccee;
    --primary-border-color: rgba(255, 255, 255, 0.099); 
    --blob-glow-bg: #0048ff;
    --blob-bg: linear-gradient(135deg, rgb(0, 166, 255), rgb(0, 221, 255), rgb(0, 166, 255));
    --gradient-text: linear-gradient(90deg, rgb(0, 166, 255), rgb(0, 221, 255));
    --hero-text-height: 3rem;
    /* --blob-bg: linear-gradient(90deg, rgb(0, 183, 255), rgb(0, 166, 255), rgb(0, 183, 255)); */
    /* --cv-btn-bg: #74c0fc; */
    /* --cv-btn-color: #020843; */
}

.light-grey {
    color: var(--header-bg);
}

body {
    --bs-body-bg: var(--body-bg);
    --bs-body-color: var(--primary-color);
    --bs-body-font-family: "Lato", sans-serif;  
}

header {
    background-color: var(--header-bg);
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(12px);
}

/* NAVBAR */
.navbar {
    position: relative;
}

.navbar.nav-dark {
    --bs-navbar-color: var(--primary-color);
    --bs-navbar-hover-color: var(--secondary-color);
}


/* .navbar::after {
    content: "";
    position: absolute;
    background: var(--nav-border-bg);
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-size: 200% 100%;
    animation: borderMove 3s linear infinite;
} */

/* NAV BRAND */
#brand {
    height: 2.5rem;
    /* border-radius: 8% 8% 27% 7%; */
}

#brand-text {
    font-family: "Dancing Script";
}

.brand-lg {
    --bs-border-color: var(--primary-border-color);
    
}

.brand-lg:hover {
    --bs-border-color: transparent;
    background-color: var(--primary-border-color);
}

.nav-link-lg{
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-lg:hover {
    color: var(--secondary-color);
    background-color: var(--primary-border-color);
}

.nav-link-lg i {
    font-size: 18px;
}

.bi-droplet-half {
    background: linear-gradient(to top,#03eef2 0%, #77a6e4 50%, #9eccee 100%);
    background-clip: text;
    color: transparent;
}

.bi-fire {
    background: linear-gradient(to top, #ff0000 0%, #ff8c00 50%, #ffd700 100%);
    background-clip: text;
    color: transparent;
    
}

/* NAV TOGGLER */
.navbar-toggler {
    width: 3rem;
    height: 3rem;
    background-color: var(--body-bg) !important;
    --bs-navbar-toggler-border-color: var(--primary-border-color);
    --bs-navbar-toggler-border-radius: 50%;
    --bs-navbar-toggler-transition: transform 0.2s ease;
    --bs-navbar-toggler-focus-width: 0;
}

.navbar-toggler:active {
    transform: scale(0.95);
}

.nav-toggler-icon {
    fill: var(--primary-color);
}

/* NAV LINK */
.nav-link {
    --bs-nav-link-font-weight: 550;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* CV BUTTON */
.cv-btn {
    width: 160px;
    font-weight: 550;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: .375rem;
    padding: .275rem;
    transition: transform .3s ease;
}

.cv-btn:hover,
.cv-btn:active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.cv-btn:active {
    transform: scale(.98);
    font-size: .98rem;
}

/* BLOB */

.hero-card {
    background-color: var(--header-bg);
    border-radius: 10% 1%;
    padding: 4rem 0;
}

.blob-wrapper {
    width: 180px;
    height: 186px;
}

.blob-glow {
    width: inherit;
    height: inherit;
    background-color: #0063f8;
    background-color: var(--blob-glow-bg);
    /* border-radius: 40% 200% 45% 180%; */
    border-radius: 30% 200% 4% 175%;
    filter: blur(13px);

}

.blob-outline {
    border: 2.5px solid white;
    border-radius: 30% 200% 4% 175%;
    z-index: 20;
    margin: -6% 0px 0 7%;
    transform: rotate(359deg);
}

.blob {
    background: var(--blob-bg);
    border-radius: 30% 200% 4% 175%;
    z-index: 10;
    background-size: 200% 100%;
    animation: borderMove 3s linear infinite;

}

.blob img {
    height: 115%;
    margin-bottom: 25.1%;
    margin-left: -1.5%;
    border-radius: 0 0 0 77%;
    z-index: 30;
}

.hero-details {
    background-color: var(--header-bg);
    font-family: "Lato", sans-serif;
}

/* HERO */
.hero-name {
    background: var(--blob-bg);
    color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    animation: borderMove 2s linear infinite;
}

.dynamic-text {
    height: var(--hero-text-height);
    line-height: var(--hero-text-height);
    font-weight: 550;
    overflow: hidden;
} 

.dynamic-text li{
    top: 0;
    position: relative;
    animation: slide 3s steps(2) infinite;
}

/* ABOUT */

#about h1 {
    font-family: "Dancing Script", cursive;
}


.about-img {
    height: 280px;
    position: relative;
    border: 2px dotted var(--secondary-color);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    padding: 7px;
}

/* BORDER MOVE */
@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* LIST SLIDING */
@keyframes slide {
    100% {
        top: calc(var(--hero-text-height)*-2);
    }
}
