/* POPPINS & DANCING SCRIPT FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-bg: #020b18;
    --header-bg: rgb(255 255 255 / 0.04);
    --nav-border-bg: linear-gradient(90deg,
            rgb(0, 183, 255),
            rgb(10, 41, 136),
            rgb(0, 183, 255));  
    --primary-color: white;
    --secondary-color: #9eccee;
    --primary-border-color: rgba(255, 255, 255, 0.099);
    --blob-glow-bg: #0048ff;
    --blob-bg: linear-gradient(90deg, rgb(0, 183, 255), rgb(0, 166, 255), rgb(0, 183, 255));
    --hero-text-height: 3rem;
    /* --cv-btn-bg: #74c0fc; */
    /* --cv-btn-color: #020843; */
}

.light-grey {
    color: rgba(255, 255, 255, 0.244);
}

.dancing-script {
    font-family: "Dancing Script", Poppins;
}

.gradient-text {
    /* background: linear-gradient(90deg, rgb(0, 153, 255), rgb(0, 221, 255));; */
    background: linear-gradient(90deg, rgb(0, 255, 247), rgb(0, 153, 255));;
}

/* PARTICLES BACKGROUND */
#particles-js {
    position: fixed;
    /* stay fixed behind */
    inset: 0;
    z-index: 0;
    /* push behind content */
    background: var(--body-bg);
    /* fallback color */
    pointer-events: none;
}

/* CUSTOM CURSOR */
.custom-cursor {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

/* Smaller outer circle */
.cursor-ring {
    position: absolute;
    width: 33px;
    /* reduced size */
    height: 33px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    /* border-1 feel */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Dot */
.cursor-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    /* background: rgba(200, 220, 255, 0.9); */
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

body {
    --bs-body-bg: var(--body-bg);
    --bs-body-color: var(--primary-color);
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-body-font-size: 15px;
}

.site-content {
    position: relative;
    z-index: 1;
}

section {
    min-height: 100svh;
}

/*___________________________________________________________________________________________________________*/


.header, .side-header {
    background-color: var(--header-bg);
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(12px);
}

/* NAVBAR */
.navbar {
    position: relative;
}

.navbar.nav-dark {
    --bs-navbar-color: var(--primary-color);
    --bs-navbar-hover-color: var(--secondary-color);
}

/* NAV BRAND */
#brand {
    height: 2.5rem;
}

.brand-lg {
    --bs-border-color: var(--primary-border-color);

}

.brand-lg:hover {
    --bs-border-color: transparent;
    background-color: var(--primary-border-color);
}

.nav-link-lg {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-lg:hover {
    color: var(--secondary-color);
    background-color: var(--primary-border-color);
}

.nav-link-lg:active {
    color: var(--secondary-color);
    background-color: var(--primary-border-color);
}

.nav-link-lg i {
    font-size: 18px;
}

.bi-droplet-half {
    background: linear-gradient(to top, #03eef2 0%, #77a6e4 50%, #9eccee 100%);
    background-clip: text;
    color: transparent;
}

.bi-fire {
    background: linear-gradient(to top, #ff0000 0%, #ff8c00 50%, #ffd700 100%);
    background-clip: text;
    color: transparent;

}

/* NAV TOGGLER */
.navbar-toggler {
    width: 3rem;
    height: 3rem;
    background-color: var(--body-bg) !important;
    --bs-navbar-toggler-border-color: var(--primary-border-color);
    --bs-navbar-toggler-border-radius: 50%;
    --bs-navbar-toggler-transition: transform 0.2s ease;
    --bs-navbar-toggler-focus-width: 0;
}

.navbar-toggler:active {
    transform: scale(0.95);
}

.nav-toggler-icon {
    fill: var(--primary-color);
}

/* NAV LINK */
.nav-link {
    --bs-nav-link-font-weight: 550;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.profile-frame {
    border: 5px solid var(--primary-border-color);
}

/* DP */
#profile {
    height: 150px;
    width: 150px;
}

/* BLOB */

.hero-card {
    width: min(300px, 90vw);
    background-color: var(--header-bg);
    backdrop-filter: blur(12px);
    border-radius: 10% 1%;
    padding: 4rem 0;
}

.blob-wrapper {
    width: 200px;
    height: 206px;
}

.blob-glow {
    width: inherit;
    height: inherit;
    background-color: #0063f8;
    background-color: var(--blob-glow-bg);
    /* border-radius: 40% 200% 45% 180%; */
    border-radius: 30% 200% 4% 175%;
    filter: blur(13px);

}

.blob-outline {
    border: 2.5px solid white;
    border-radius: 30% 200% 4% 175%;
    z-index: 20;
    margin: -6% 0px 0 7%;
    transform: rotate(359deg);
}

.blob {
    background: var(--blob-bg);
    border-radius: 30% 200% 4% 175%;
    z-index: 10;
    background-size: 200% 100%;
    animation: borderMove 3s linear infinite;
    

}

.blob img {
    height: 115%;
    margin-bottom: 25.1%;
    margin-left: -1.5%;
    border-radius: 0 0 0 78%;
    z-index: 30;
}

.hero-name {
    color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    animation: borderMove 2s linear infinite;
    font-weight: 700;
}

.hero-details {
    background-color: var(--header-bg);
    font-family: "Poppins", sans-serif;
    padding: 0 2rem 0 2rem;
}

/* CV BUTTON */
.cv-btn {
    width: 160px;
    font-weight: 550;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: .275rem;
}

.cv-btn:hover,
.cv-btn:active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* HERO */
.hero {
    background-color: var(--header-bg);
    backdrop-filter: blur(12px);
}

.headline {
    font-weight: 550;
}

.dynamic-text {
    height: var(--hero-text-height);
    line-height: var(--hero-text-height);
    font-size: 1.7rem;
    font-weight: 550;
    overflow: hidden;
}

/* @media screen and (max-width: 400px) {
    .dynamic-text {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 368px) {
    .dynamic-text {
      font-size: 1.35rem;
    }
  }

  @media screen and (max-width: 340px) {
    .dynamic-text {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 322px) {
    .dynamic-text {
      font-size: 1.2rem;
    }
  } */


.dynamic-text li {
    top: 0;
    position: relative;
    animation: slide 3s steps(2) infinite;
}

/* ABOUT */
.about-container {
    background-color: var(--header-bg);
    backdrop-filter: blur(12px);
}

.about-heading {
    position: relative;
    display: inline-block;
}

.about-heading::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(0, 153, 255), rgb(0, 208, 255));
    background-size: 200% 100%;
    border-radius: 5px;
    animation: borderMove 1s linear infinite;
}


/* BORDER MOVE */
@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* LIST SLIDING */
@keyframes slide {
    100% {
        top: calc(var(--hero-text-height)*-2);
    }
}
